        <tr>
            <!-- HERO IMAGE -->
            <td class="align-middle {{i.baseStats.element}}{{i.baseStats.rarity}}" width="70"><img class="img-fluid" src="/static/{{i.baseStats.nameSafe}}.png" alt="{{i.baseStats.name}}"></td>

            <!-- HERO NAME -->
            <td class="align-middle {{i.baseStats.element}}{{i.baseStats.rarity}}" width="200"><b>{{ i.baseStats.name }}</b></td>

            <!-- STAR LEVEL -->
            <td class="align-middle {{i.baseStats.element}}{{i.baseStats.rarity}}" width="90">
                <select class="form-control" id="{{ i.id }}level" name="{{ i.id }}level">
                    {% for j in range(0, 8) %}
                    {% if j == i.level %}
                    <option value="{{ j }}" selected>{{ j }}</option>
                    {% else %}
                    <option value="{{ j }}">{{ j }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </td>

            <!-- AWAKEN -->
            <td class="align-middle {{i.baseStats.element}}{{i.baseStats.rarity}}" width="90">
                <select class="form-control" id="{{ i.id }}awaken" name="{{ i.id }}awaken">
                    {% for j in range(0, 8) %}
                    {% if j == i.awaken %}
                    <option value="{{ j }}" selected>{{ j }}</option>
                    {% else %}
                    <option value="{{ j }}">{{ j }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </td>

            <!-- WEAPON LEVEL -->
            <td class="align-middle {{i.baseStats.element}}{{i.baseStats.rarity}}" width="90">
                <select class="form-control" id="{{ i.id }}wpn" name="{{ i.id }}wpn">
                    {% for j in range(0, 10) %}
                    {% if j == i.wpn %}
                    <option value="{{ j }}" selected>{{ j }}</option>
                    {% else %}
                    <option value="{{ j }}">{{ j }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </td>

            <!-- MEDALS -->
            <td class="align-middle {{i.baseStats.element}}{{i.baseStats.rarity}}" width="90">
                <input type="text" maxlength="4" class="form-control" id="{{ i.id }}medal" value="{{ i.medals }}" name="{{ i.id }}medal" onkeypress="return isNumber9(event)">
            </td>
        </tr>
