{% extends "base.html" %}

{% block content %}

<div class="row pt-3">
    <div class="col-lg-12">
    <h1 class="display-4">About</h1>
        <hr>
        <p class="instructions">CTA Companion is my final project for <a href="https://online-learning.harvard.edu/course/cs50-introduction-computer-science" target="_blank">Harvard's CS50</a>.
        The main purpose of this web application is to challenge myself as a developer, but when deciding upon a project I went with something that could potentially be useful for the community of Crush Them All. </p>

        <p class="instructions">I want to thank <strong>MrMoogle</strong> for letting me quote his <a href="https://docs.google.com/document/d/1vqRo_Lc4B3usIxPjxn6KR9TgAJ4Y1JR4CEO7CAOLQtY/edit" target="_blank">CTA - Hero Encyclopedia</a>
        for hero descriptions and how-to-rune. I also want to acknowledge his wizard-like math skills and assistance with the dps equation.
        <hr>

        <p class="instructions">If you found a spelling mistake, encountered a bug or just want to say hello you can contact me per below:</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <table class="table table-borderless">
            <tr>
                <td width="80">Discord:</td>
                <td><a href="https://discordapp.com/users/225270542280687616" target="_blank">Cayumi#7996</a></td>
            </tr>
            <tr>
                <td>E-mail:</td>
                <td><a href="mailto:cta@cayumi.com">cta@cayumi.com</a></td>
            </tr>
        </table>
<hr>
    </div>
</div>



{% endblock %}