{% extends "base.html" %}

{% block content %}

<div class="row pt-3">
    <div class="col-lg-12">
    <h1 class="display-4">Artifacts</h1>
        <hr>
        <p class="instructions">Select your Artifacts and input their level. Their combined effects are shown below.</p>
        <p></p>
        <hr>
    </div>
</div>
<div class="row pt-3">
    <div class="col-lg-12">
        <table class="table table-borderless">
            <thead class="thead-dark">
            <tr>
                <th>&nbsp;</th>
                <th class="align-middle text-center" width="23%"><img src="{{ url_for('static', filename='atk.png') }}" width="25" alt="Attack"></th>
                <th class="align-middle text-center" width="23%"><img src="{{ url_for('static', filename='aps.png') }}" width="25" alt="APS"></th>
                <th class="align-middle text-center" width="23%"><img src="{{ url_for('static', filename='crit.png') }}" width="25" alt="CritChance"></th>
                <th class="align-middle text-center" width="23%">Crit Damage</th>
            </tr>
            <tr>
                <td class="WaterRare align-middle"><img src="{{ url_for('static', filename='water.png') }}" width="40" alt="Water"></td>
                <td class="WaterRare align-middle text-center">{{ user.art_display(user.art_atk("Water")) }}%</td>
                <td class="WaterRare align-middle text-center">{{ user.art_aps() }}%</td>
                <td class="WaterRare align-middle text-center">{{ user.art_display(user.art_crit()) }}%</td>
                <td class="WaterRare align-middle text-center">{{ user.art_display(user.art_crit_dmg("Water")) }}%</td>
            </tr>
            <tr>
                <td class="FireRare align-middle"><img src="{{ url_for('static', filename='fire.png') }}" width="40" alt="Fire"></td>
                <td class="FireRare align-middle text-center">{{ user.art_display(user.art_atk("Fire")) }}%</td>
                <td class="FireRare align-middle text-center">{{ user.art_aps() }}%</td>
                <td class="FireRare align-middle text-center">{{ user.art_display(user.art_crit()) }}%</td>
                <td class="FireRare align-middle text-center">{{ user.art_display(user.art_crit_dmg("Fire")) }}%</td>
            </tr>
            <tr>
                <td class="EarthRare align-middle"><img src="{{ url_for('static', filename='earth.png') }}" width="40" alt="Earth"></td>
                <td class="EarthRare align-middle text-center">{{ user.art_display(user.art_atk("Earth")) }}%</td>
                <td class="EarthRare align-middle text-center">{{ user.art_aps() }}%</td>
                <td class="EarthRare align-middle text-center">{{ user.art_display(user.art_crit()) }}%</td>
                <td class="EarthRare align-middle text-center">{{ user.art_display(user.art_crit_dmg("Earth")) }}%</td>
            </tr>
            <tr>
                <td class="LightRare align-middle"><img src="{{ url_for('static', filename='light.png') }}" width="40" alt="Light"></td>
                <td class="LightRare align-middle text-center">{{ user.art_display(user.art_atk("Light")) }}%</td>
                <td class="LightRare align-middle text-center">{{ user.art_aps() }}%</td>
                <td class="LightRare align-middle text-center">{{ user.art_display(user.art_crit()) }}%</td>
                <td class="LightRare align-middle text-center">{{ user.art_display(user.art_crit_dmg("Light")) }}%</td>
            </tr>
            <tr>
                <td class="DarkRare align-middle"><img src="{{ url_for('static', filename='dark.png') }}" width="40" alt="Dark"></td>
                <td class="DarkRare align-middle text-center">{{ user.art_display(user.art_atk("Dark")) }}%</td>
                <td class="DarkRare align-middle text-center">{{ user.art_aps() }}%</td>
                <td class="DarkRare align-middle text-center">{{ user.art_display(user.art_crit()) }}%</td>
                <td class="DarkRare align-middle text-center">{{ user.art_display(user.art_crit_dmg("Dark")) }}%</td>
            </tr>
            </thead>
        </table>
    </div>
</div>


<script>
  function isNumber9(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
        return false;
    }
    return true;
}
</script>
<form action="/artifacts/{{ user.username }}" method="post" novalidate>
<div class="row pt-3">
    <div class="col-lg-6">
    <table class="table table-light table-borderless">
        <thead class="thead-dark">
        <tr>
            <th>Standard Artifacts</th>
            <th width="60">Level</th>

        </tr>
        </thead>

        {% for i in normal%}

        <tr class="table-sm">
            <td class="{{i.artBase.color}}Rare align-middle"><select class="form-control form-control-sm" id="#" name="{{ i.id }}art">
            {% for j in artifactBase %}
                {% if j.star != "Event" %}
            {% if i.artBase.name == j.name %}
            <option value="{{ j.id }}" selected>{{ j }}</option>
                {% else %}
                <option value="{{ j.id }}">{{ j }}</option>
                {% endif %}
                {% endif %}
            {% endfor %}
            </td>
            <td class="{{i.artBase.color}}Rare align-middle"><input type="text" maxlength="2" class="form-control form-control-sm" id="#" value="{{ i.level }}" name="{{ i.id }}level" onkeypress="return isNumber9(event)"></td>


        </tr>
        {% endfor %}
    </table>
    </div>


    <div class="col-lg-6">
        <table class="table table-light table-borderless">
        <thead class="thead-dark">
        <tr>
            <th>Event Artifacts</th>
            <th width="100">Level</th>
        </tr>
        </thead>

        {% for k in event %}

        <tr class="table-sm">
            <td class="{{k.artBase.color}}Rare align-middle"><select class="form-control form-control-sm" id="#" name="{{ k.id }}art">
            {% for l in artifactBase %}
                {% if l.star == "Event" or l.star == 0 %}
            {% if k.artBase.name == l.name %}
            <option value="{{ l.id }}" selected>{{ l }}</option>
                {% else %}
                <option value="{{ l.id }}">{{ l }}</option>
                {% endif %}
                {% endif %}
            {% endfor %}
            </td>
            <td class="{{k.artBase.color}}Rare align-middle"><input type="text" maxlength="2" class="form-control form-control-sm" id="#" value="{{ k.level }}" name="{{ k.id }}level" onkeypress="return isNumber9(event)"></td>

        </tr>

        {% endfor %}
    </table>


    </div>
</div>
<div class="row">
    <div class="col-lg-12 text-center">
        <hr>
      <button class="btn btn-primary btn-lg text-center" type="submit">Save Artifacts</button>
    </div>
</div>
</form>
<br><br>

{% endblock %}