<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/r-2.2.5/datatables.min.css"/>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">

      {% if title %}
      <title>CTA Companion: {{ title }}</title>
      {% else %}
      <title>Welcome to CTA Companion</title>
      {% endif %}
  <style>
      html {
        position: relative;
        min-height: 100%;
      }
      body {
        margin-bottom: 40px; /* Margin bottom by footer height */
      }
      .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 40px; /* Set the fixed height of the footer here */
        line-height: 40px; /* Vertically center the text there */
        background-color: #f5f5f5;
      }
  </style>


  </head>
  <body>

  <header>

<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('index') }}">CTA Companion</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ctacNav" aria-controls="ctacNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="ctacNav">
      <ul class="navbar-nav mr-auto">
          {% if current_user.is_authenticated %}
        <li class="nav-item">
            {% if heroactive == 1 %}
            <a class="nav-link active" href="{{ url_for('collection', username=current_user.username) }}">Hero Collection</a>
            {% else %}
            <a class="nav-link" href="{{ url_for('collection', username=current_user.username) }}">Hero Collection</a>
            {% endif %}
        </li>
        <li class="nav-item">
            {% if progressactive == 1 %}
            <a class="nav-link active" href="{{ url_for('progress', username=current_user.username) }}">Progress</a>
            {% else %}
            <a class="nav-link" href="{{ url_for('progress', username=current_user.username) }}">Progress</a>
            {% endif %}
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('artifacts', username=current_user.username) }}">Artifacts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('bossTeam', username=current_user.username) }}">Boss Teams</a>
        </li>

        <!--
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('test', username=current_user.username) }}">TEST AREA</a>
      </li>
        -->

          {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="#">Guides</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        {% if current_user.is_anonymous %}
      <li class="nav-item">
          <a class="nav-link" href="{{ url_for('login') }}">Login</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{{ url_for('register') }}">Sign up</a>
      </li>
        {% else %}
      <li class="nav-item">
            {% if useractive == 1 %}
            <a class="nav-link active" href="{{ url_for('account', username=current_user.username) }}">My Account</a>
            {% else %}
            <a class="nav-link" href="{{ url_for('account', username=current_user.username) }}">My Account</a>
            {% endif %}
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
      </li>
        {% endif %}


      </ul>
    </div>
  </div>
</nav></header>
<main role="main">
<div class="container">
    {% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
    <div class="alert alert-danger text-center">
    {% for msg in errors %}
      {{ msg }}
      {% endfor %}
    </div>
    {% endif %}
      {% endwith %}

      {% with info = get_flashed_messages(category_filter=["info"]) %}
    {% if info %}
    <div class="alert alert-success text-center">
    {% for msg in info %}
      {{ msg }}
      {% endfor %}
    </div>
    {% endif %}
      {% endwith %}

{% block content %}{% endblock %}
</div></main>


<footer class="footer mt-auto text-center">
  <div class="container">
    <span class="text-muted">Copyright &copy; 2020 <a href="http://www.cayumi.com" target="_blank" class="text-muted">Cayumi</a></span>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
  <script src="../assets/dist/js/bootstrap.bundle.js"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

  <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/r-2.2.5/datatables.min.js"></script>

  </body>
</html>