{% extends "base.html" %}

{% block content %}

 <div class="row pt-3">
    <div class="col-lg-12">
      <h1 class="display-4">Boss Teams</h1>
      <hr>
      <p class="instructions">These are your optimal damage teams for each boss in the Slay Boss Event.</p>
      <hr>
    </div>
 </div>

 <div class="row pt-3">

     <!-- KRAKEN -->
     <div class="col-lg-4">
        <table class="table table-borderless table-striped">
            <thead class="">
            <tr>
                <th colspan="2" class="text-center"><img class="rounded-circle" src="{{ url_for('static', filename='kraken.png') }}" width="80"></th>
            </tr>
            <tr>
                <th colspan="3" class="text-center WaterRare">Kraken</th>
            </tr>
            <tr class="thead-dark">
                <th class="text-center">Hero</th>
                <th class="text-center">DPS</th>
            </tr>
            </thead>
            {% for key, value in krakenDict.items() %}
            <tr>
                <td class="text-center">{{ key }}</td><td class="text-center">{{ value }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="2" class="text-center"><a href="{{ url_for('calculate', username=current_user.username, boss=1) }}"><button type="button" class="btn btn-primary">Calculate</button></a></td>
            </tr>
        </table>
    </div>

     <!-- DEEP SEA KING -->
     <div class="col-lg-4">
        <table class="table table-borderless table-striped">
            <thead class="">
            <tr>
                <th colspan="2" class="text-center"><img class="rounded-circle" src="{{ url_for('static', filename='deepseaking.png') }}" width="80"></th>
            </tr>
            <tr>
                <th colspan="3" class="text-center WaterRare">Deep Sea King</th>
            </tr>
            <tr class="thead-dark">
                <th class="text-center">Hero</th>
                <th class="text-center">DPS</th>
            </tr>
            </thead>
            {% for key, value in deepseakingDict.items() %}
            <tr>
                <td class="text-center">{{ key }}</td><td class="text-center">{{ value }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="2" class="text-center"><a href="{{ url_for('calculate', username=current_user.username, boss=2) }}"><button type="button" class="btn btn-primary">Calculate</button></a></td>
            </tr>
        </table>
    </div>

    <!-- FROSTWING -->
     <div class="col-lg-4">
        <table class="table table-borderless table-striped">
            <thead class="">
            <tr>
                <th colspan="2" class="text-center"><img class="rounded-circle" src="{{ url_for('static', filename='frostwing.png') }}" width="80"></th>
            </tr>
            <tr>
                <th colspan="3" class="text-center WaterEpic">Frostwing</th>
            </tr>
            <tr class="thead-dark">
                <th class="text-center">Hero</th>
                <th class="text-center">DPS</th>
            </tr>
            </thead>
            {% for key, value in frostwingDict.items() %}
            <tr>
                <td class="text-center">{{ key }}</td><td class="text-center">{{ value }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="2" class="text-center"><a href="{{ url_for('calculate', username=current_user.username, boss=3) }}"><button type="button" class="btn btn-primary">Calculate</button></a></td>
            </tr>
        </table>
    </div>

 </div>

<div class="row pt-3">

     <!-- VALKEN BOT -->
     <div class="col-lg-4">
        <table class="table table-borderless table-striped">
            <thead class="">
            <tr>
                <th colspan="2" class="text-center"><img class="rounded-circle" src="{{ url_for('static', filename='valkenbot.png') }}" width="80"></th>
            </tr>
            <tr>
                <th colspan="3" class="text-center FireRare">Valken Bot</th>
            </tr>
            <tr class="thead-dark">
                <th class="text-center">Hero</th>
                <th class="text-center">DPS</th>
            </tr>
            </thead>
            {% for key, value in valkenbotDict.items() %}
            <tr>
                <td class="text-center">{{ key }}</td><td class="text-center">{{ value }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="2" class="text-center"><a href="{{ url_for('calculate', username=current_user.username, boss=10) }}"><button type="button" class="btn btn-primary">Calculate</button></a></td>
            </tr>
        </table>
    </div>

     <!-- Fire Gorge -->
     <div class="col-lg-4">
        <table class="table table-borderless table-striped">
            <thead class="">
            <tr>
                <th colspan="2" class="text-center"><img class="rounded-circle" src="{{ url_for('static', filename='firegorge.png') }}" width="80"></th>
            </tr>
            <tr>
                <th colspan="3" class="text-center FireRare">Fire Gorge</th>
            </tr>
            <tr class="thead-dark">
                <th class="text-center">Hero</th>
                <th class="text-center">DPS</th>
            </tr>
            </thead>
            {% for key, value in firegorgeDict.items() %}
            <tr>
                <td class="text-center">{{ key }}</td><td class="text-center">{{ value }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="2" class="text-center"><a href="{{ url_for('calculate', username=current_user.username, boss=11) }}"><button type="button" class="btn btn-primary">Calculate</button></a></td>
            </tr>
        </table>
    </div>

    <!-- MAD KING -->
     <div class="col-lg-4">
        <table class="table table-borderless table-striped">
            <thead class="">
            <tr>
                <th colspan="2" class="text-center"><img class="rounded-circle" src="{{ url_for('static', filename='madking.png') }}" width="80"></th>
            </tr>
            <tr>
                <th colspan="3" class="text-center FireEpic">Mad King</th>
            </tr>
            <tr class="thead-dark">
                <th class="text-center">Hero</th>
                <th class="text-center">DPS</th>
            </tr>
            </thead>
            {% for key, value in madkingDict.items() %}
            <tr>
                <td class="text-center">{{ key }}</td><td class="text-center">{{ value }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="2" class="text-center"><a href="{{ url_for('calculate', username=current_user.username, boss=12) }}"><button type="button" class="btn btn-primary">Calculate</button></a></td>
            </tr>
        </table>
    </div>

 </div>

{% endblock %}
