{% extends "base.html" %}

{% block content %}
{% if user[0] == current_user %}
{% set current = selectedHero.baseStats.nameSafe %}
 <div class="row pt-3">
    <div class="col-lg-12">
      <h1 class="display-4">{{ selectedHero.baseStats.name }} ({{ selectedHero.level }}/{{ selectedHero.awaken }}/{{ selectedHero.wpn }}) </h1>

      <hr>
      <p class="instructions">
          {% for i in range(selectedHero.awaken) %}
          <img src="{{ url_for('static', filename='awaken.png') }}" width="30" alt="Awaken">
          {% endfor %}
          {%for i in range(selectedHero.level - selectedHero.awaken) %}
          <img src="{{ url_for('static', filename='star.png') }}" width="30" alt="Star">
          {% endfor %}

      </p>
      <hr>
    </div>
 </div>

  <div class="row align-middle">
    <div class="col-lg-3 text-center align-middle pt-3">
        <img class="img-fluid rounded-circle" src="/static/{{selectedHero.baseStats.nameSafe}}.png" alt="{{selectedHero.baseStats.name}}"><br><br>
        {{ selectedHero.baseStats.element }} {{ selectedHero.baseStats.rarity }} {{ selectedHero.baseStats.job }}<hr>

        <p class="instructions {{selectedHero.baseStats.element}}{{selectedHero.baseStats.rarity}}"><b>DPS: {{ selectedHero.dpsSP2() }}</b>



        <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th colspan="2">How to rune</th>
        </tr>
        </thead>
        <tr>
            <td width="20%">PVP</td>
            <td>{{ heroDict[current][0][0] }} {{ heroDict[current][0][1] }}</td>
        </tr>
        <tr>
            <td width="20%">PVE</td>
            <td>{{ howToRune }}</td>
        </tr>
    </table>
      </div>


      <div class="col lg-9 pt-3">
<form action="/Hero/{{ selectedHero.id }}" method="post" novalidate>

 <table class="table table-striped">
     <thead class="thead-dark">
          <tr>
              <th>Stat</th>
              <th>In-game</th>
              <th>Real</th>
              <th>Input Rune %</th>
          </tr>
          </thead>
              <tr class="text-left">
                  <td>Attack</td>
                  <td>{{ selectedHero.displayStat(selectedHero.atk()) }}</td>
                  <td>{{ selectedHero.atk() }}</td>
                  <td><input type="text" maxlength="10" class="form-control form-control-sm" id="{{ selectedHero.id }}runedAtk" value="{{ selectedHero.runedAtk }}" name="{{ selectedHero.id }}runedAtk"></td>
              </tr>
              <tr class="text-left">
                  <td>HP</td>
                  <td>{{ selectedHero.displayStat(selectedHero.hp()) }}</td>
                  <td>{{ selectedHero.hp() }}</td>
                  <td><input type="text" maxlength="10" class="form-control form-control-sm" id="{{ selectedHero.id }}runedHp" value="{{ selectedHero.runedHp }}" name="{{ selectedHero.id }}runedHp" onkeypress="return isNumber9(event)"></td>
              </tr>
              <tr class="text-left">
                  <td>Defense</td>
                  <td>{{ selectedHero.displayStat(selectedHero.defense()) }}</td>
                  <td>{{ selectedHero.defense() }}</td>
                  <td><input type="text" maxlength="10" class="form-control form-control-sm" id="{{ selectedHero.id }}runedDef" value="{{ selectedHero.runedDef }}" name="{{ selectedHero.id }}runedDef" onkeypress="return isNumber9(event)"></td>
              </tr>
              <tr class="text-left">
                  <td>Attack per sec</td>
                  <td>{{ selectedHero.aps()|round(2, 'common' ) }}</td>
                  <td>{{ selectedHero.aps() }}</td>
                  <td><input type="text" maxlength="10" class="form-control form-control-sm" id="{{ selectedHero.id }}runedAps" value="{{ selectedHero.runedAps }}" name="{{ selectedHero.id }}runedAps" onkeypress="return isNumber9(event)"></td>
              </tr>
                <tr class="text-left">
                  <td>Crit Chance</td>
                  <td>{{ (selectedHero.crit()*100)|round|int }}%</td>
                    <td>{{ selectedHero.crit()*100 }}% </td>
                    <td><input type="text" maxlength="10" class="form-control form-control-sm" id="{{ selectedHero.id }}runedCrit" value="{{ selectedHero.runedCrit }}" name="{{ selectedHero.id }}runedCrit" onkeypress="return isNumber9(event)"></td>
              </tr>
              <tr class="text-left">
                  <td>Crit Damage</td>
                  <td>{{ ((selectedHero.critDmg())*100)|round|int }}%</td>
                  <td>{{ (selectedHero.critDmg()*100)|round(2, 'common') }}%</td>
                  <td><input type="text" maxlength="10" class="form-control form-control-sm" id="{{ selectedHero.id }}runedCritDmg" value="{{ selectedHero.runedCritDmg }}" name="{{ selectedHero.id }}runedCritDmg" onkeypress="return isNumber9(event)"></td>
              </tr>
     <tr class="text-center">
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td><button class="btn btn-primary btn-lg" type="submit">Save Rune Values</button></td>
              </tr>
          </table>
</form>
    </div>


      </div>


<div class="row">
    <div class="col-lg-12 text-center">
      <hr>

        <p class="instructions">{{heroDict[current][2]}}</p>
        <p class="instructions"><img class="img-fluid" src="/static/{{heroDict[current][2]}}.png" alt="{{selectedHero.baseStats.name}}"></p>
        <hr>
    </div>
</div>

<br>


{% else %}
<div class="row pt-3">
    <div class="col-lg-12">
      <h1 class="display-4">Sneaky!</h1>
      <hr>
      <p class="instructions">You are not allowed to browse other peoples heroes.</p>
      <hr>
    </div>
 </div>


{% endif %}
{% endblock %}