{% extends "base.html" %}

{% block content %}

{% if current_user.is_authenticated %}
<div class="row pt-3">
    <div class="col-lg-12">
    <h1 class="display-4">Welcome {{ current_user.username }}</h1>
        <hr>
        <p class="instructions">As a registered user you have access to all the features of CTA Companion.</p>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 p-3">
        <h4>Data input</h4><hr>
        <div class="list-group">
            <a href="{{ url_for('account', username=current_user.username) }}" class="list-group-item list-group-item-action list-group-item-info">Hero details (Star Level, Awaken, Weapon Level, Medals) can be input in My Account.</a>
            <a href="{{ url_for('account', username=current_user.username) }}" class="list-group-item list-group-item-action list-group-item-info">Prism Power, Hero Power, Artifact Power and Days Played can be input in My Account.</a>
            <a href="{{ url_for('collection', username=current_user.username) }}" class="list-group-item list-group-item-action list-group-item-info">Runed values can be input for each hero on its respective page.</a>
            <a href="{{ url_for('artifacts', username=current_user.username) }}" class="list-group-item list-group-item-action list-group-item-info">Artifacts and their level can be input in Artifacts.</a>
        </div>
        <hr>
    </div>

    <div class="col-lg-6 p-3">
        <h4>Data output</h4><hr>
        <div class="list-group">
            <a href="{{ url_for('collection', username=current_user.username) }}" class="list-group-item list-group-item-action list-group-item-success">Hero Collection contains a sortable and searchable list of all your heroes.</a>
            <a href="{{ url_for('collection', username=current_user.username) }}" class="list-group-item list-group-item-action list-group-item-success">Click on any hero to see more details such as how to rune and a hero description. This is where you input runed values.</a>
            <a href="{{ url_for('progress', username=current_user.username) }}" class="list-group-item list-group-item-action list-group-item-success">Progress contains visual representation of your progress by rarity within each element and overall.
            <a href="{{ url_for('progress', username=current_user.username) }}" class="list-group-item list-group-item-action list-group-item-success">Progress also contains a table of percentages and maxed heroes by rarity, element, and overall.
            <a href="{{ url_for('artifacts', username=current_user.username) }}" class="list-group-item list-group-item-action list-group-item-success">Artifacts contains a table of your artifacts combined effects.</a>
            <a href="{{ url_for('bossTeam', username=current_user.username) }}" class="list-group-item list-group-item-action list-group-item-success">Boss Teams will generate the best possible team for every boss based on your input.</a>
        </div>
        <hr>
    </div>

</div>

{% else %}

<div class="row pt-3">
    <div class="col-lg-12 text-center">
    <h1 class="display-4 text-center">Welcome to CTA Companion</h1>
        <hr>
        <p class="instructions">CTA Companion is a web application packed with features for the mobile game Crush Them All!</p>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-lg-3">
        &nbsp;
    </div>
    <div class="col-lg-6 p-3 bg-info text-white rounded-lg border border-white shadow">
        <h2 class="text-center">CTA Companion</h2><hr>
        <p class="text-center">
            <ul>
        <li>Generate optimal teams for every boss in Slay Boss Event</li>
        <li>Comprehensive progress tracking</li>
        <li>Sort and browse your Hero Collection</li>
        <li>See individual Hero details, such as:</li>
        <ul>
        <li>DPS (including SP2)</li>
        <li>How-To-Rune</li>
        <li>PVP Tier, Hero descriptions and much more</li>
        </ul>
        </p><hr>
    </div>
<div class="col-lg-3 p-3 rounded-right border border-white align-middle text-center">
   &nbsp;
    </div>

</div>

<div class="row">
    <div class="col-lg-3">
        &nbsp;
    </div>
    <div class="col-lg-6 p-3 text-center">
        <hr>
        <p><a href="{{ url_for('login') }}">Login</a> or <a href="{{ url_for('register') }}">create an account</a> to access all the features.</p>
        <hr>
        <table class="table table-borderless">
            <tr class="table-light">
                <td class="text-left">
                <dl>
                        <dt class="text-secondary"><code class="text-secondary">In development:</code></dt>
                    <dd><code class="text-secondary"><strike>- Resources/guides section, accessible without logging in.</strike></code></dd>
                    <dd><code class="text-secondary"><strike>- Ability to export your hero collection and stats.</strike></code></dd>
                    <dd><code class="text-secondary"><strike>- Improve speed of bossTeam algorithm.</strike> | <strong>Lightning speed!</strong></code></dd>
                        <dd><code class="text-secondary">- Calculate and present hero investments.</code></dd>
                </dl></td>
            </tr>
        </table>
    </div>
<div class="col-lg-3">
   &nbsp;
    </div>
</div>




{% endif %}

{% endblock %}