{% extends "base.html" %}

{% block content %}

 <div class="row pt-3">
    <div class="col-lg-12">
      <h1 class="display-4">TEST AREA</h1>
      <hr>
      <p class="instructions">Used to test various stuff</p>
      <hr>
    </div>
 </div>

<div class="row pt-3">
    <div class="col-lg-12">
        <table class="table">
            <thead class="thead-dark">

            <tr>
                <th>Name</th>
                <th>Attack</th>
                <th>Raid Attack</th>

                <th>Raid APS</th>

                <th>Raid Crit</th>

                <th>Raid Crit DMG</th>
            </tr>
            </thead>
<tr>
                <td>{{ heroes[0].baseStats.name}}</td>
                <td>{{ heroes[0].atk()}}</td>
                <td>{{ heroes[0].raidAtk(user.artAtk(heroes[0].baseStats.element), 800)}}</td>

                <td>{{ heroes[0].raidAps(user.artAps(), 0)}}</td>

                <td>{{ heroes[0].raidCrit(user.artCrit())}}</td>

                <td>{{ heroes[0].raidCritDmg(user.artCritDmg(heroes[0].baseStats.element), 0)}}</td>
            </tr>



        </table>
    </div>

 </div>
{% endblock %}